<div class="form-row">
	<div class="col-md-1">
		<div class="form-label-group">
			<input type="text" name="optionNameNo" id="option-name-no-<%=optionNo%>" class="form-control" placeholder="no" value="<%=optionNo%>" disabled="true">
			<label for="option-name-no-<%=optionNo%>">no</label>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-label-group">
			<input type="text" name="optionName" id="option-name-<%=optionNo%>" class="form-control" placeholder="Option name" value="<%=optionName%>" disabled="true">
			<label for="option-name-<%=optionNo%>">Option name</label>
		</div>
	</div>
	<div class="col-md-8">
	   <div class="form-label-group">
		   <input type="text" name="optionValue" id="option-value-<%=optionNo%>" class="form-control" placeholder="Option value">
		   <label for="option-value-<%=optionNo%>">Option value</label>
	   </div>
	</div>
</div>

